body {
    background-color: lightblue;
}

.App {
    text-align: center;
    background-color: magenta;
    min-height: 500px;
    min-width: 400px;
    margin: 40px auto;
}
#form input {
    background-color: blue;
    border: 0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
}

    #form input::placeholder {
        color: black;
    }

    #to-do-form input:focus, #to-do-form input:focus {
        outline: none;
    }

#form button {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: 0;
    background-color: coral;
    cursor: pointer;
    font-weight: bolder;
    color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
